html {
  font-size: 10px;
}
p {
  font-family: Arial, Helvetica, sans-serif;
}

body {
  font-family: Georgia, "Times New Roman", Times, serif, serif;
}
.wrapper {
  margin: auto;
}

.header__wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 1200px;
  height: 60px;
  margin: auto;
}

.navigation {
  display: flex;
  font-size: 1.5rem;
  line-height: 2.4rem;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 400;
  font-size: 1.5rem;
  line-height: 2.4rem;
  color: #fafafa;
}

.navigation_bordered {
  border-bottom: 1px solid #f1cdb3;
}

.navigation__link {
  list-style: none;
  margin-left: 35px;
  cursor: pointer;
}

.button {
  font-family: Georgia, "Times New Roman", Times, serif;
  font-weight: 400;
  font-size: 1.7rem;
  line-height: 22.1px;
  padding: 15px 45px 15px 45px;
  background: white;
  border-radius: 100px;
  border: none;
  color: #292929;
  transition: all 0.3s;
  border: 2px solid #f1cdb3;
}

.button_colored {
  background: #f1cdb3;
}

.start__wrapper {
  display: flex;
  justify-content: space-between;
  padding-top: 90px;
  width: 1200px;
}

.content__start {
  width: 400px;
  margin: auto 0px;
}

.heading__start {
  width: 310px;
  font-size: 4.4rem;
  line-height: 5.72rem;

  font-weight: 400;
  color: #ffffff;
}
.paragraph__start {
  color: #cdcdcd;
  font-size: 1.5rem;
  line-height: 2.4rem;
  margin: 42px 42px 42px 0;
  width: 460px;
}
.logo__title {
  font-size: 3.2rem;
  line-height: 3.52rem;
  color: #f1cdb3;
}

.logo__subtitle {
  font-size: 1.3rem;
  line-height: 1.495rem;
  color: #ffffff;
  font-family: Arial, "Times New Roman", Times, serif;
}

.header {
  background-image: url("images/start-screen-gradient-background.svg");
  background-size: cover;
  background-repeat: no-repeat;
}

.start__screen {
  background-image: url("images/start-screen-gradient-background.svg");
  background-size: cover;
  background-repeat: no-repeat;
}

.wrapper__about {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  padding: 80px 0px 100px 0px;
}

.content__about {
  width: 430px;
  display: flex;
  flex-direction: column;
  gap: 35px;
  margin-bottom: 114px;
}

.paragraph__about {
  font-size: 1.5rem;
  line-height: 2.4rem;
  color: #4c4c4c;
  margin-bottom: -27px;
  width: 430px;
}

.heading__about {
  width: 370px;
  height: 90px;
  font-size: 3.5rem;
  line-height: 4.55rem;
  color: #545454;
  font-weight: 400;
  margin-bottom: -30px;
}

.img__about {
  margin-top: 80px;
  margin-bottom: 100px;
  margin-right: -95px;
}

.header__pets {
  text-align: center;
  width: 400px;
  font-size: 3.5rem;
  font-weight: 400;
  color: #545454;
  padding-bottom: 30px;
}

.slider {
  height: 2000px;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  flex-direction: row;
  background-color: black;
  flex-wrap: wrap;
}

.card {
  margin: 40px 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  background: #fafafa;
  border-radius: 9px;
}

.btn__primary {
  text-align: center;
}

.name__pet {
  font-size: 2rem;
  color: #545454;
  margin-top: 30px;
  margin-bottom: 30px;
}

.button_secondary {
  margin-bottom: 30px;
}

.button_big {
  font-size: 1.7rem;
  margin-top: 75px;
  padding: 15px 45px;
  width: 261px;
  height: 52px;
  color: #292929;
  margin-bottom: 100px;
}
.button_arrow {
  position: absolute;
  top: 50%;
  right: 95%;
}

.button_arrow_reverse {
  position: absolute;
  left: 95%;
  top: 50%;
}

.wrapper__pets {
  display: flex;
  flex-direction: column;
  justify-content: space-around;

  position: relative;
  background: #f6f6f6;
  min-width: 1280px;
  height: 877px;
}

.wrapper__header {
  display: flex;
  justify-content: space-evenly;
}

.button_arr {
  border-radius: 100px;
  border: 2px solid #f1cdb3;
  width: 52px;
  height: 52px;
  padding: 0px;
}

.wrapper__icons {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
}

.list__icons {
  text-align: center;
}

.icons {
  width: 180px;
  padding: 30px;

  font-size: 2rem;
  font-weight: 400;
  color: #545454;
  line-height: 2.3rem;
}

.header__icons {
  font-size: 3.5rem;
  line-height: 4.5rem;
  font-weight: 400;
  color: #545454;
  text-align: center;
  margin: 80px 0px 60px 0px;
}

.icons_last {
  margin-bottom: 100px;
}

.donation__content {
  display: flex;
  justify-content: center;
  gap: 30px;
  background: #f6f6f6;
}

.text__italic {
  width: 380px;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 400;
  color: #b2b2b2;
  font-size: 1.2rem;
  line-height: 1.8rem;
  font-style: italic;
}

.header__donation {
  font-size: 3.5rem;
  line-height: 4.5rem;
  font-weight: 400;
  margin-bottom: -15px;
  color: #545454;
}

.header__bank {
  color: #545454;
  font-size: 1.5rem;
  line-height: 1.6rem;
}
.content__donation {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 20px;
  margin: 80px 0px 100px 0px;
}

.credit__card {
  display: flex;
  flex-direction: row;
  background: #f1cdb3;
  width: 350px;
  height: 40px;
  margin-top: -10px;
}

.img__card {
  margin: 10px 15px;
}
.card__numbers {
  font-size: 2rem;
  line-height: 2.3rem;
  font-weight: 400;
  margin: 10px;
  color: #545454;
}

.image__donation {
  margin: 91px 0px 110px 0px;
}

.footer__content {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  background: url("images/footer-gradient-background.svg");
  background-size: cover;

  color: #f1cdb3;
  align-items: center;
}

.heading__footer {
  color: white;
  font-size: 3.5rem;
  line-height: 4.5rem;
  font-weight: 400;
}

.wrapper__footer {
  display: flex;
  gap: 20px;
  margin-bottom: 40px;
  font-size: 2rem;
  align-items: center;
}

.image__footer {
  align-self: end;
}
